<div class="container mt-4">
    <h3>{{ travelerId ? 'Modifier' : 'Ajouter' }} un voyageur</h3>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label>Nom</label>
        <input class="form-control" formControlName="name" />
      </div>
      <div class="mb-3">
        <label>Email</label>
        <input class="form-control" formControlName="email" type="email" />
      </div>
      <div class="mb-3">
        <label>Téléphone</label>
        <input class="form-control" formControlName="phone" />
      </div>
      <button class="btn btn-success" type="submit">Enregistrer</button>
    </form>
  </div>
  